<link rel="stylesheet" href="photon.css">
<link rel="stylesheet" href="css.css">
<link rel="stylesheet" href="emoji.css">
<script>require('electron-connect').client.create()</script>

<div class="window" id="app">

<!--<div class="center-form">
  <img id="login-loading" src="spinner.svg"></img>
  <img class="img-circle img-login" src="https://instagram.frun1-1.fna.fbcdn.net/vp/3230896e49952035c4a21d078561d30f/5B1DB27A/t51.2885-19/11906329_960233084022564_1448528159_a.jpg"></img>
  <input class="input-login" id="username" type="text" placeholder="Username"/>
  <input class="input-login" id="password" type="password" placeholder="Pass#or!"/>
  <a class="button-login" id="button-login"><span class="icon icon-key"></span></a>
</div>-->

  <div id="electron-titlebar" class="drag">
  </div>

<div class="window-content">
    <input v-model="filter" class="form-control" type="text" placeholder="Search">
    <span class="icon icon-search"></span>
    <img v-if="loading" id="loading" src="spinner.svg"></img>
    <div class="pane-group">
      <div class="pane-sm sidebar" style="overflow-y : scroll;">
        <br>
        <br>
        <ul class="list-group">
          <li v-if="chat.title.includes(filter) || filtered === true" v-for="chat in chats" v-on:click="openChat(chat)" class="list-group-item">
            <img class="img-circle media-object pull-left" v-bind:src="chat.img" width="32" height="32">
            <div class="media-body">
              <strong>{{chat.title}}</strong>
              <p>{{chat.firstmsg}}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="pane">
        <br>
        <br>
        <div class="chat-pane">
          <li v-for="message in chat" class="message" :class="[ message.unsent ? 'unsent' : '' , message.me ? 'me' : '']" >{{message.text}}
            <video controls="true" class="direct" v-if="message.type === 'mediaShare' && message.mediashare._params.mediaType === 2" v-bind:src="message.mediashare._params.videos[0].url"></video>
            <img class="direct" v-if="message.type === 'mediaShare' && message.mediashare._params.mediaType === 1" v-bind:src="message.mediashare._params.images[0].url"></img>
            <img class="direct" v-if="message.type === 'media'" v-bind:src="message.media[0].url"></img>
            <img class="direct" v-if="message.type === 'reel_share' && message.reelShare.media.expiring_at != 0" v-bind:src="message.reelShare.media.image_versions2.candidates['0'].url"></img>
            <p style="color : red;" v-if="message.type === 'reel_share' && message.reelShare.media.expiring_at == 0">Expired</p>
            <p v-if="message.type === 'reel_share'">{{message.reelShare.text}}</p>
          </li>
        </div>
        <input v-model="message" type="text" name="send" id="send" placeholder="Type something ..." />
        <span v-on:click="sendMessage" v-if="messageIsEmpty && chatid != '' " class="icon icon-paper-plane"></span>
      </div>
    </div>
  </div>
</div>
<script src="script.js"></script>
